.env
__pycache__/
*.py[cod]
.venv
.DS_Store
.vscode/
!.flaskenv
init.sh
**/migrations/versions/*

# Documentation files
**/*.md
/README.md
systemPrompt.md
.cursorindexingignore
.specstory
node_modules
.claude