.sideNav {
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
  border-right: 1px solid #e0e0e0;
  position: fixed;
  top: 60px;
  left: 0;
  padding: 20px;
  overflow-y: auto;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 80px;
  align-items: center;
  text-align: center;
}

.navItem {
  text-decoration: none;
  color: #2c3e50;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
  width: 80%;
  text-align: center;
  font-weight: 500;
}

.navItem:hover {
  background-color: #e3e8ec;
  transform: translateY(-2px);
}

.navItem.active {
  background-color: #3498db;
  color: white;
  font-weight: bold;
}

.projectsSection {
  margin: 0;
  width: 80%;
  align-self: center;
}

.projectsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  color: #2c3e50;
  font-weight: 500;
  position: relative;
}

.projectsHeader span:first-child {
  margin-right: 20px;
}

.projectsHeader:hover {
  background-color: #e3e8ec;
}

.projectsList {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 8px;
  border-radius: 8px;
  background-color: white;
}

.projectItem {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #2c3e50;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s ease;
}

.projectItem:hover {
  background-color: #e3e8ec;
  transform: translateX(5px); /* Slight slide effect */
}

.arrow {
  font-size: 12px;
  position: absolute;
  right: 15px;
}
